*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #FAFAFA ;
}


input{
  outline: none;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-position: 16px center;
  transition: all ease-in-out 0.2s;
}


input:focus{
  box-shadow:0 0 32px 0 rgba(99,60,255,.25) ;
  border: 1px solid #633cff;
}

.div-filter:hover > img{
  filter: brightness(0) saturate(100%) invert(23%) sepia(70%) saturate(3984%) hue-rotate(246deg) brightness(99%) contrast(105%);
}

.filter-purple-selected{
  filter: brightness(0) saturate(100%) invert(23%) sepia(70%) saturate(3984%) hue-rotate(246deg) brightness(99%) contrast(105%);
}