* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  outline: none;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-position: 16px center;
  transition: all ease-in-out 0.2s;
}

input:focus {
  box-shadow: 0 0 32px 0 rgba(99, 60, 255, 0.25);
  border: 1px solid #633cff;
}

.box-shadow-card {
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.1);
}

.div-filter:hover > img {
  filter: brightness(0) saturate(100%) invert(23%) sepia(70%) saturate(3984%) hue-rotate(246deg) brightness(99%)
    contrast(105%);
}

.filter-white {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(128deg) brightness(103%)
    contrast(107%);
}

.filter-purple-selected {
  filter: brightness(0) saturate(100%) invert(23%) sepia(70%) saturate(3984%) hue-rotate(246deg) brightness(99%)
    contrast(105%);
}

.overlay-dark-profile::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.icon-to-white {
  filter: brightness(0) invert(1);
}


@media screen and (max-width : 500px) {
  .box-shadow-card {
    box-shadow: none;
  }
}
